section#espanol{
    width: 100%;
    height: 15%;
    padding: 5px 5px 10px 5px;
    box-sizing: border-box;
    text-align: center;
}
section#espanol h1{
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px; 
}
section#espanol img{
    margin: 120px;
}

section#espanol label {
    padding-right: 10px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}
section#espanol progress{
    width: 20%;
    height: 30%;
}

section#contenedor-bloque1{
    width: 80%;
    height: 180%;
    margin-left: 10%;
    padding-top: 20px;
    text-align: center;
    background-color: #97e1e896;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

section#contenedor-bloque1 h1{
    font-size: 25px;
}

section#subgenero{
    padding-top: 20px;

}

section#subgenero h2{
    background-color: lightseagreen;
    color: linen;
    
}

nav#actividades{
    display: flex;
    justify-content: space-evenly;
    
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav#actividades a{
    text-decoration: none;
    color:mediumvioletred;
    font-weight: bold;
}


section#base_juego{
    background-color: aquamarine;
    background-size: 100% 100%;
    width: 770px;
    position: absolute;
    left: 50%;
    margin-left: -330px;
    border:solid 10px #97e1e896;
    
}

article#resultados{
    background-color: aquamarine;
    width: auto;
    height: auto;
    left: -200px;
    opacity: 0.9;
    position: absolute;
    top: 25px;
}

.casilla {
    width: 150px;
    height: 217px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    background-size: 100% 100%;
    
  
    float: left;
    margin: 10px;
}

.casilla:hover{
    transform: scale(1.03);
}

.casilla2 {
    width: 150px;
    height: 217px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    background-size: 100% 100%;
}

.casill2:hover{
    transform: scale(1.03);
}

#text{
    text-align: left;
    color: #000000;
}
article#fallos{
    width: 170px;
    height: 30px;
    margin: 5px;
}

article#reloj {
    width: 170px;
    height: 30px;
    margin: 5px;
}

article#aciertos{
    width: 170px;
    height: 40px;
    margin: 5px;
}

article#aciertos2{
    width: 160px;
    height: 15px;
    border: 4px solid #3df305da;
    border-radius: 18px;
    margin-left: 2px;

}

article#progreso{
    background-color: #ffffff;
    width: 0px;
    height: 15px;
    border-radius: 16px;
 
}

.img {
    width: 64x;
    height: 64px;
    background-size: 100% 100%;
    position: relative;
    float: none;
    margin: 2px;
    opacity: 0px;

    animation-name:animation_img ;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}
