p#letra-btn{
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	color: #0D1E49;
	font-size: 17px;
     position: relative;
}


p#letra-btn::before {
    content: "";
    position: absolute;
    bottom: -3px; /* Ajusta esta propiedad para controlar la distancia del subrayado desde el texto */
    left: 0;
    width: 100%;
    border-radius: 30px;
    height: 3px; /* Ajusta esta propiedad para controlar el grosor del subrayado */
    background: linear-gradient(90deg, #021C5F, #021C5F);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

p#letra-btn:hover::before {
    transform: scaleX(1);
}


span{
    color: #ffffff;
}

.dropdow-menu {
    margin: 0px;
    background: #262a34;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
    display: inline-block;
    float: right;
    position: relative;
   
}

.menuperfill {
    color: white;
     border-radius: 10px;
}

.menuperfill:focus {
    background: #0f0f0f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
    border-radius: 10px;
}

.cerrarr:hover {
    background-color: rgba(16, 20, 17, 0.877);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
    color: #ffffff;
    border-radius: 10px;
}

.userr {
    font-size: 40px;
    color: #00dbff;  
}
