section#fondo{
	background: #FFEFBA;
	background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA); 
	background: linear-gradient(to right, #FFFFFF, #FFEFBA); 
}
 button#btn-carusel{
	background-color: #0BFFD1; 
	height: 20px; 
	width: 20px; 
	border-radius: 100%;
}
article#difusion{
	background-color: #0A6A5D7D; 
	border-top-left-radius: 30px; 
	border-bottom-right-radius: 20px;  
	font-size: 35px; 
	max-width:420px ;
	font-family: 'Quando', serif;
}

article#difusion-sub{
	background-color: #0909097D; 
	max-width:800px; 
	border-radius: 10px; 
	font-size: 25px;
	font-family: 'Quando', serif;
}

article#elaboracion{
	background-color: #0A6A5D7D;
	max-width: 850px;
	border-top-left-radius: 30px; 
	border-bottom-right-radius: 20px;  
	font-size: 35px;
	font-family: 'Quando', serif;
}

article#elaboracion-sub{
	background-color: #0909097D; 
	max-width: 800px; 
	border-radius: 10px;  
	font-size: 25px;
	font-family: 'Quando', serif;
}

article#plataforma{
	background-color: #0A6A5D7D; 
	max-width: 600px; 
	border-top-left-radius: 30px; 
	border-bottom-right-radius: 20px;  
	font-size: 35px;
	font-family: 'Quando', serif;
}

article#plataforma-sub{
	background-color: #0909097D; 
	max-width: 800px; 
	border-radius: 10px;  
	font-size: 25px;
	font-family: 'Quando', serif;
}

img{
	max-height: 520px;
}


#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;

}

#form label {
  font-size: 50px;
   cursor: pointer;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  font-size: 30px;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
