section#primero{
    text-align: center;
    width: 100%;
    height: 12%;
    padding: 1px 0px 1px 1px;
    box-sizing: border-box;
    background-color: #ff3859;
    color: #e7e3e9;
}

section#primero h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

section#titulo-materias{
    text-align: center;
    padding-top: 70px;
}

section#titulo-materias h1{
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC, 2px 2px 2px rgba(206,89,55,0);
    color: #444444;
}


section#contenedor-materias{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 50px 50px 50px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

article#columna1{
    max-width: 300px;
    text-align: center;
    
}

article#columna1 figure{
    background-color: #ffdd38;
    border-radius: 10px;
}

article#columna1 figcaption{
    font-size: 20px;
}

article#columna2{
    max-width: 300px;
    text-align: center;
}

article#columna2 figure{
    background-color:#3888ff;
    border-radius: 10px;
}
article#columna2 figcaption{
    font-size: 20px;
}

article#columna3{
    max-width: 300px;
    text-align: center;
}

article#columna3 figcaption{
    font-size: 20px;
}

article#columna3 figure{
    background-color: #ff5438;
    border-radius: 10px;
}
article#columna4{
    max-width: 300px;
    text-align: center;
}

article#columna4 figure{
    background-color: #ff3859;
    border-radius: 10px;
}
article#columna4 figcaption{
    font-size: 20px;
}

article#columna5{
    max-width: 300px;
    text-align: center;
}

article#columna5 figure{
    background-color: #5eaec5;
    border-radius: 10px;
}

article#columna5 figcaption{
    font-size: 20px;
}
.nombreUsuario{
    text-align: center;
    background-color: #ff3859;
    position: absolute;
    color: #e7e3e9;
    width: 100%;
    margin-top: 64px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    
    

}