section#pivacidad{
    padding-bottom: 10px;
    background: #ffffff;
    margin: 0 15% 0 15%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section#encabezado{
    padding-top: 10px;
    margin: 0 5% 0 5%;
    text-align: center;
    box-sizing: border-box;
}

section#encabezado img{
  position: absolute;
  margin-left: -10%;
  margin-top: -1%;
}

section#documento{
    background: #ffffff;
    text-align: justify;
    margin: 0% 5% 0% 5%;
    margin-bottom: 5%;
}

a#negrita{
    font-weight: bold;
}

