header{
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%); 
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

span#resultado{
    position:absolute;
    text-align: left;
}

.contenedor-form{
    background-image: linear-gradient(to top, #f0e2c7 0%, #fff9e8 100%); 
    border-radius: 10px;
}

.contenedor{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenedor-image {
  position: relative;
  width: 550px;
  height: 550px;
}

#image-flotante {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: floatAnimation;
  animation-duration: 4s; 
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floatAnimation {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -55%); 
  }
  100% {
    transform: translate(-50%, -50%);
  }
}


